/* Fondo difuminado */
.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    z-index: -1;
  }
  
  /* Modal Content */
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .modalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4B5563;
    margin-bottom: 20px;
  }
  
  .weatherContainer {
    display: flex;
    flex-direction: column;
  }
  
  .weatherPage {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .leftLabel,
  .rightLabel {
    margin-bottom: 5px;
    color: #4B5563;
  }
  
  .left,
  .right {
    width: 100%;
  }
  
  .temperatureInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .buttonContainer {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  
  .nextButton,
  .backButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .nextButton {
    background-color: #4CAF50;
    color: white;
  }
  
  .backButton {
    background-color: #f44336;
    color: white;
  }
  